<head>
<div>
  <router-outlet></router-outlet>
</div>
</head>
<div class="container">
  <header>
    <h1>Welcome to My Angular Project</h1>
    <p>Building Awesome Web Applications</p>
  </header>

  <section class="main-content">
    <h2>Featured Products</h2>
    <div class="product">
      <img src="assets/ecom.jpg" alt="Product 1">
      <h3>E-Commerce Web Application</h3>
      <p>When your web application promotes products or services directly to your potential customers, you can call it an e-commerce web application which is no different from an online shopping store. Many of the basic features of the e-commerce web app include the addition of new products, removal of outdated and old products, managing payments, facilitating electronic payments, and a user-friendly interface. An effective management panel is very necessary to look at all these tasks. Professional website developers can customize such applications to make them user-friendly. Some of the most common examples of e-commerce web apps include Flipkart, Amazon, Ajio, and the list goes on</p>
    </div>

    <div class="product">
      <img src="assets/dynamic.jpg" alt="Product 2">
      <h3>Dynamic Web Application</h3>
      <p>Dynamic web application delivers live data based on the requests of the users and is therefore considered one of the best web application types. They have improved technical sophistication when compared to static web applications. There are multiple elements of interactions and methods to draw the attention of the client to the services and products provided by the web app. Such web applications use databases to store all private and public data displayed on the Website. They usually have an admin panel to control the backend and front-end portions and allow the administrator to modify the content and include different interactive components to the web app. The dynamic web app is built using various programming languages such as PHP, and ASP.NET.</p>
    </div>

    <div class="product">
      <img src="assets/cms.jpg" alt="Product 3">
      <h3>Content Management System</h3>
      <p>A content Management System (CMS) is a type of website application in which the owner can modify the content without any help from the technical team. The content can be modified using the admin panel without any knowledge of the programming language. In general, there are a number of CMS variations with various specifications and designs</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 My Angular Project</p>
  </footer>
</div>

